.title {
	display: flex;
	align-items: center;

	margin: 10px 0;

	font-size: 25px;

	color: #007bfb;
}

.blockInfo {
	margin-top: 20px;
	font-size: 20px;
	color: #007bfb;
}

.frames {
	display: flex;
	flex-direction: column;
	margin: 20px 0;
}

.frame {
	// width: 40%;

	display: flex;
	justify-content: center;

	font-size: 20px;

	margin: 10px 0;
	padding: 5px;

	border: 1px solid #007bfb;
	border-radius: 5px;

	cursor: pointer;

	&:hover {
		color: white;
		background-color: #94c6fc;
	}
}