.title {
	display: flex;
	align-items: center;

	margin: 10px 0;

	font-size: 25px;

	color: #007bfb;
}

.tableTitle {
	font-size: 20px;

	color: #007bfb;
}

.infoBlock {
	display: flex;
	flex-direction: column;

	margin: 10px 0;

	color: #007bfb;
}