.container {
    min-width: 300px;

	position: absolute;
	top: 50%;
	left: 50%;

    padding: 20px;
    border-radius: 10px;
    border: 2px solid #007bfb;
    
	transform: translate(-50%, -50%);

    background-color: white;
}

.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}