// .container {
// 	width: 50%;
// 	height: 50%;

// 	display: flex;
// 	justify-content: center;
// 	align-items: center;

// 	position: absolute;
// 	top: 50%;
// 	left: 50%;

// 	transform: translate(-50%, -50%);
// }

.title {
	display: flex;
	align-items: center;

	margin: 10px 0;

	font-size: 25px;

	color: #007bfb;
}

.disk {
    margin: 20px 0;
}

.disk_btns {
    display: flex;
}

.diskUpload {
	border: 2px dashed #566885;
	padding: 5px 10px;
	cursor: pointer;
	margin-left: 10px;
}

.diskInput {
	display: none;
}

.dropArea {
	width: 100%;
	height: calc(100% - 50px - 40px);
	margin: 20px;
	border: dashed #566885 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
  }