.btn {
    padding: 10px 15px;
    font-size: 14px;

    border: none;
    border-radius: 5px;

    color: white;
    background-color: #007bfb;

    cursor: pointer;

    &:hover {
        background-color: #0264cd;
    }
}